*, *:before, *:after{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body, html, section{
    margin: 0;
    padding: 0;
}

.bg-goop-orange{
    background-color: #FF723F;
}

.text-goop-orange{
    color: #FF723F;
}

.bg-white{
    background-color: #FFF;
}

.text-white{
    color: #FFF;
}

.bg-yellow{
    background-color: #FDCE00;
}

.text-yellow{
    color: #FDCE00;
}
img.goop-logo{
    width: 78px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 15px;
}
div.rectangle-bg{
    width:50vw;
    height: 100vh;
    float: left;
    margin: 0;
    padding: 0;
}
div.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
}
div.main{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
h2{
    display: inline;
}
.left, .right{
    width:50vw;
    height: 100vh;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

div.content{
    font-size: 4vw;
    line-height: 30%;
    margin: auto 0;
    padding-top: 10%;
}

.go-button-left {
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    background-color: #FF723F;
    color: #ffffff;
    border-radius:18px;
    border:none;
    display:inline-block;
    cursor:pointer;
    font-size: 3vw;
    font-weight:700;
    margin-top: 20px;
    padding:16px 85px;
    text-decoration:none;
    line-height: 100%;
}
/*
.go-button-left:hover {
    background-color: #ffffff;
    color:#FF723F;
}
.go-button-left:active {
    position:relative;
    top:1px;
}
*/
.go-button-right{
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    background-color: #FFF;
    color: #FF723F;
    border-radius:18px;
    border:none;
    display:inline-block;
    cursor:pointer;
    font-size:3vw;
    font-weight:700;
    margin-top: 20px;
    padding:16px 85px;
    text-decoration:none;
    line-height: 100%;
}
div.who-are-you{
    position: absolute;
    top: -10%;
    font-size: 8vw;
    font-weight: bold;
}
div.who-a{
    right: 50%;
}
div.re-you{
    left: 50%;
}

@media only screen and (max-width : 480px) {
    .go-button-left, .go-button-right{
        padding:10px 40px;
        font-size: 0.7em;
    }
    img.goop-logo{
        width: 55px;
        height: 23px;
    }
    div.content{
        font-size: 1.5em;
        line-height: 30%;
        padding-top: 0;
    }
    div.who-are-you{
        top: 50px;
        font-size: 2.2em;
    }

}