section.view-4, section.view-5 {
  min-height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0; }

section.view-2, section.view-3, section.view-6 {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0; }

section.view-2 div.what-bothers, section.view-2 div.what-bothers div.point-wrapper, section.view-3 div.well-good-news, section.view-4 div.we-promise-points {
  display: flex;
  align-content: center;
  justify-content: center; }

footer {
  height: auto;
  padding: 4.5vh;
  font-size: 3vmin !important;
  width: 100vw;
  background-color: #FF723F;
  color: #FFF;
  font-weight: 400; }
  footer a {
    display: block;
    text-decoration: none;
    color: #FFF; }
  footer a:hover {
    text-decoration: underline; }

header.view-1 {
  height: 80vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center; }
  header.view-1 figure.center-wrapper {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 70%; }
  header.view-1 img.goop-logo {
    width: 30vmax;
    height: 12.53vmax;
    margin: 0 auto 0 auto;
    justify-self: center;
    align-self: center; }
  header.view-1 figcaption.goop-in-one-phrase {
    font-weight: 400;
    font-size: 3.5vmin;
    text-align: center;
    margin: 4vmin 0 0 0; }

section.view-2 div.what-bothers {
  text-align: left;
  width: 70%;
  align-self: center; }
  section.view-2 div.what-bothers div.point-wrapper {
    margin-right: 4vmin;
    height: inherit;
    flex-direction: column; }
    section.view-2 div.what-bothers div.point-wrapper p.pain-point-msg {
      display: block;
      font-size: 3.5vmin;
      margin: auto 0 auto 0; }
    section.view-2 div.what-bothers div.point-wrapper p.pain-point-explained-desktop {
      display: block;
      margin: 0 0 auto 0;
      font-size: 3.5vmin; }
  section.view-2 div.what-bothers figure.pain-point-illustration img {
    height: 30vh;
    width: 30vh;
    margin: 0 0 0 0; }
  section.view-2 div.what-bothers #pain-point-explained-phone {
    margin: 0 0 3.5vmin 0;
    font-size: 3.5vmin;
    display: none; }

section.view-3 {
  font-size: 3.5vmin; }
  section.view-3 div.well-good-news {
    width: 70%;
    display: flex;
    justify-content: space-around; }
    section.view-3 div.well-good-news figure.well-good-news-illustration {
      margin: auto 0 auto 0; }
      section.view-3 div.well-good-news figure.well-good-news-illustration img {
        height: 30vh;
        width: 30vh;
        margin: auto 4vmin auto 0; }
    section.view-3 div.well-good-news div.well-good-news-point-explained {
      margin-left: 4vmin;
      text-align: left;
      width: 70%;
      align-self: center; }

section.view-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  text-align: center; }
  section.view-4 h2.we-promise-you {
    font-size: 4vmin;
    font-weight: 400; }
  section.view-4 div.we-promise-points {
    font-size: 3.5vmin; }
    section.view-4 div.we-promise-points figure {
      width: 20%; }

.view-4half {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto; }
  .view-4half h2.what-are-you-waiting-for {
    font-size: 4vmin;
    font-weight: 400;
    width: 50%;
    text-align: left;
    align-self: center; }
    .view-4half h2.what-are-you-waiting-for span {
      display: block;
      text-align: center;
      margin-bottom: 4vmin; }

section.view-5 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center; }
  section.view-5 h2.explain-goop-food {
    font-size: 4vmin;
    text-align: center;
    font-weight: 400; }
  section.view-5 div.goop-food-points {
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-content: space-around;
    width: auto;
    font-size: 3.5vmin;
    text-align: center; }
    section.view-5 div.goop-food-points figure {
      width: calc(70% / 3); }
      section.view-5 div.goop-food-points figure figcaption.topic {
        font-size: 3.5vmin;
        font-weight: bold;
        margin: 2.5vmin 0 2.5vmin 0;
        height: auto; }
      section.view-5 div.goop-food-points figure figcaption.explained {
        font-size: 2.5vmin;
        text-align: left;
        margin: 0 0 2.5vmin 0; }

div figure img {
  width: 30vh;
  height: 30vh; }

section.view-6 {
  height: auto;
  flex-direction: column;
  justify-content: space-around; }
  section.view-6 a.get-goop, section.view-6 a.tell-me {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    background-color: #FFF;
    color: #FF723F;
    border-radius: 18px;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 4vmin;
    font-weight: 700;
    padding: 3vmin 3vmin;
    text-decoration: none;
    height: 10vmin;
    min-width: 60vw;
    text-align: center;
    align-self: center;
    margin: 4vmin 0 0 0; }
  section.view-6 a.tell-me {
    background-color: #FDCE00;
    margin: 4vmin 0; }

/* Portrait tablets */
@media (max-width: 641px) {
  .goop-in-one-phrase {
    font-size: 4.5vmin !important; }

  section.view-2 {
    height: 75vh; }

  section.view-3 {
    height: 90vh; }

  .pain-point-explained-phone {
    margin: 0 0 3.5vmin 0;
    font-size: 3.5vmin;
    display: inherit;
    visibility: visible; }

  .pain-point-explained-desktop {
    display: none; }

  section div {
    flex-direction: column; }
    section div figure {
      align-self: center;
      display: flex;
      flex-direction: column; }

  section.view-2 .what-bothers {
    text-align: center !important;
    height: 100%; }
    section.view-2 .what-bothers .point-wrapper {
      height: auto !important;
      width: 100% !important;
      margin: auto !important; }
  section.view-2 #pain-point-explained-phone {
    display: inherit !important; }
  section.view-2 .pain-point-explained-desktop {
    display: none !important; }
  section.view-2 figure {
    margin: 0; }
  section.view-2 p {
    font-size: 4.5vmin !important;
    margin: auto !important; }

  section.view-3 {
    height: auto; }
    section.view-3 .well-good-news {
      padding: 4.5vmin 0 !important; }
    section.view-3 figure {
      width: 30vh;
      height: 30vh;
      margin: auto; }
    section.view-3 .well-good-news-point-explained {
      width: 90% !important;
      height: auto !important;
      margin: 4.5vmin auto auto auto !important;
      font-size: 4.5vmin !important; }
      section.view-3 .well-good-news-point-explained p {
        margin: 0; }
      section.view-3 .well-good-news-point-explained p:first-child {
        margin-bottom: 4.5vmin !important; }
    section.view-3 #fbmsg {
      margin: auto auto auto auto !important;
      height: 30vh;
      width: 30vh; }

  section.view-4 {
    height: auto;
    display: inherit; }
    section.view-4 h2 {
      width: auto !important;
      font-size: 4.5vmin !important;
      margin: 0 auto;
      padding: 0 auto !important; }
    section.view-4 h2:first-child {
      padding: 4.5vmin 0 0 0; }
    section.view-4 img {
      align-self: center;
      justify-self: center; }
    section.view-4 figure {
      width: auto !important;
      font-size: 4.5vmin; }
      section.view-4 figure figcaption {
        width: auto !important;
        margin-top: 4.5vmin !important; }

  section.view-4half .what-are-you-waiting-for {
    width: 100%;
    padding: 0 4.5vmin;
    text-align: left !important; }
    section.view-4half .what-are-you-waiting-for span {
      text-align: center; }

  section.view-5 {
    display: inherit;
    height: auto !important; }
    section.view-5 .explain-goop-food {
      font-size: 4.5vmin !important;
      margin: 0;
      padding: 4.5vmin; }
    section.view-5 img {
      align-self: center;
      justify-self: center; }
    section.view-5 figure {
      width: auto !important; }
      section.view-5 figure figcaption {
        font-size: 4.5vmin !important;
        width: auto !important; }
    section.view-5 .goop-food-points {
      margin: auto;
      width: 80%;
      height: auto !important;
      display: flex;
      flex-direction: column; } }
/* Portrait phones */

/*# sourceMappingURL=goop-food-stylesheet.css.map */
