$main-font: 'Quicksand', sans-serif;
$goop-orange: #FF723F;
$goop-orange-sub: #ff9f7c;
$white: #FFF;
$yellow: #FDCE00;
section%view-template {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

section%view-template-small{
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

div%display-flex-and-center-elements-template {
  display: flex;
  align-content: center;
  justify-content: center;
}
footer{
  height: auto;
  padding: 4.5vh;
  font-size: 2vmin !important;

  width: 100vw;
  background-color: $goop-orange;
  color: $white;
  font-weight: 400;
  a{
    display: block;
    text-decoration: none;
    color: $white;
  }
  a:hover{
    text-decoration: underline;
  }
}
@media (max-width: 641px) {
  footer {
    font-size: 3vmin !important;
  }
}
