@import 'definitions.scss';

* {
  
}

header.view-1 {
  height: 80vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  figure.center-wrapper {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  img.goop-logo {
    width: 30vmax;
    height: 12.53vmax;
    margin: 0 auto 0 auto;
    justify-self: center;
    align-self: center;
  }
  figcaption.goop-in-one-phrase {
    font-weight: 400;
    font-size: 3.5vmin;
    text-align: center;
    margin: 4vmin 0 0 0;
  }
}

section.view-2 {
  @extend section%view-template-small;

  div.what-bothers {
    text-align: left;
    width: 70%;
    align-self: center;
    @extend div%display-flex-and-center-elements-template;

    div.point-wrapper {
      margin-right: 4vmin;
      height: inherit;
      @extend div%display-flex-and-center-elements-template;
      flex-direction: column;

      p.pain-point-msg {
        display: block;
        font-size: 3.5vmin;
        margin: auto 0 auto 0;
      }
      p.pain-point-explained-desktop {
        display: block;
        margin: 0 0 auto 0;
        font-size: 3.5vmin;
      }
    }
    figure.pain-point-illustration {
      img {
        height: 30vh;
        width: 30vh;
        margin: 0 0 0 0;
      }
    }
    #pain-point-explained-phone {
      margin: 0 0 3.5vmin 0;
      font-size: 3.5vmin;
      display: none;
    }
  }
}

section.view-3 {
  @extend section%view-template-small;
  font-size: 3.5vmin;
  div.well-good-news {
    @extend div%display-flex-and-center-elements-template;
    width: 70%;
    display: flex;
    justify-content: space-around;

    figure.well-good-news-illustration {
      margin: auto 0 auto 0;
      img {
        height: 30vh;
        width: 30vh;
        margin: auto 4vmin auto 0;
      }
    }
    div.well-good-news-point-explained {
      margin-left: 4vmin;
      text-align: left;
      width: 70%;
      align-self: center;
    }
  }
}

section.view-4 {
  @extend section%view-template;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  h2.we-promise-you {
    font-size: 4vmin;
    font-weight: 400;
  }
  div.we-promise-points {
    @extend div%display-flex-and-center-elements-template;
    font-size: 3.5vmin;
    figure {
      width: 20%;
    }
  }
  h2.what-are-you-waiting-for {
    font-size: 2.5vmin;
    font-weight: 400;
    width: 50%;
    text-align: center;
    align-self: center;
    span {
      display: block;
    }
  }
}

section.view-5 {
  @extend section%view-template;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;

  h2.explain-goop-food {
    font-size: 4vmin;
    text-align: center;
    font-weight: 400;
  }

  div.goop-food-points {
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-content: space-around;
    width: 70%;
    font-size: 3.5vmin;
    text-align: center;
    figure {
      width: calc(70% / 3);
      figcaption.topic {
        font-size: 3.5vmin;
        font-weight: bold;
        margin: 2.5vmin 0 2.5vmin 0;
        height: auto;
      }
      figcaption.explained {
        font-size: 2.5vmin;
        text-align: left;
        margin: 0 0 2.5vmin 0;
      }
    }
  }
}

div figure img {
  width: 30vh;
  height: 30vh;
}

/* Portrait tablets */
@media (max-width: 641px) {
  .goop-in-one-phrase {
    font-size: 4.5vmin !important;
  }
  section.view-2 {
    height: 75vh;
  }
  section.view-3 {
    height: 90vh;
  }
  .pain-point-explained-phone {
    margin: 0 0 3.5vmin 0;
    font-size: 3.5vmin;
    display: inherit;
    visibility: visible;
  }
  .pain-point-explained-desktop {
    display: none;
  }
  section div {
    flex-direction: column;
    figure {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  }

  section.view-2 {
    .what-bothers {
      text-align: center !important;
      height: 100%;

      .point-wrapper {
        height: auto !important;
        width: 100% !important;
        margin: auto !important;
      }
    }
    #pain-point-explained-phone {
      display: inherit !important;
    }
    .pain-point-explained-desktop {
      display: none !important;
    }
    figure {
      margin: 0;
    }
    p {
      font-size: 4.5vmin !important;
      margin: auto !important;
    }
  }

  section.view-3 {
    .well-good-news {
      padding: 4.5vmin 0 !important;
    }
    figure {
      width: 30vh;
      height: 30vh;
      margin: auto;
    }
    .well-good-news-point-explained {
      width: 90% !important;
      height: auto !important;
      margin: auto auto auto auto !important;
      font-size: 4.5vmin !important;
      p {
        margin: 0;
      }
      p:first-child {
        margin-bottom: 4.5vmin !important;
      }
    }
    #fbmsg {
      margin: auto auto 0 auto;
      height: 30vh;
      width: 30vh;

    }
  }

  section.view-4 {
    min-height: 165vh;
    display: inherit;
    h2 {
      width: auto !important;
      font-size: 4.5vmin !important;
      margin: 0 auto;
      padding: 0 auto !important;
    }
    h2:first-child {
      padding: 4.5vmin 0 0 0;
    }
    .what-are-you-waiting-for {
      text-align: left !important;
      padding: 9vmin 4.5vmin 4.5vmin 4.5vmin;
      span {
        text-align: center;
        padding-bottom: 4.5vmin;
      }
    }
    img {
      align-self: center;
      justify-self: center;
    }
    figure {
      width: auto !important;
      figcaption {
        width: auto !important;
      }
      font-size: 4.5vmin;
    }
  }
  section.view-5 {
    display: inherit;
    min-height: 275vh;
    .explain-goop-food {

      font-size: 4.5vmin !important;
    }

    img {
      align-self: center;
      justify-self: center;
    }
    figure {
      width: auto !important;
      figcaption {
        font-size: 4.5vmin !important;
        width: auto !important;
      }
    }
    .goop-food-points {
      margin: auto;
      width: 80%;
      display: flex;
      flex-direction: column;
    }
  }
}

/* Portrait phones */
@media only screen and (max-width: 480px) {

}


